/* Font i ogólny styl */
body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #222;
  margin: 0;
  padding: 0;
}

/* Główne sekcje */
header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

footer {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Nawigacja */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* Tekst */
h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 15px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

/* Galeria */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 0;
}

figure {
  text-align: center;
  margin: 0;
}

.galeria img {
  width: 30%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
}

/* Przyciski */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* proporcja 16:9 */
  height: 0;
  overflow: hidden;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


figure {
  text-align: center;
  margin: 0;
}

figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
